* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.square {
    position: absolute;
    background-color: white;
    border: 2px solid red;
}